.banner {
    background: #001628;
    color: #777;
    padding: 4em;
    font-family: sans-serif;
    line-height: 1.15;
  }
  
  hr { /*dummy content*/
    height: 6px;
    border: none;
    background: rgba(0, 0, 0, 0.1);
  } 
  
  hr:last-child {  /*dummy content*/
    margin-right: 60%;
  }
  
  hr.image { /*dummy content*/
    padding-bottom: 50%;
  } 
  
  .page {
    padding: 2em;
    background: #cecece;
    max-width: 1100px;
  }
  
  .archive {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 1em;
    grid-auto-flow: dense;
  }
  
  .article {
    padding: 1em;
    background: #fff;
    box-shadow:
      0 5px 10px rgba(0, 0, 0, 0.1),
      0 20px 20px rgba(0, 0, 0, 0.05);
    max-height: 350px
  }
  
  .article:nth-child(1)>hr.image {
    padding-bottom: 30%;
  }
  
  .article:nth-child(1)>hr:last-child {
    margin-right: 20%;
    max-height: 28px
  }
  
  .article:nth-child(8) {
    grid-column: span 3 / -1;
    max-width: 600px;
    background: #fff
  }

  .article:nth-child(9), .article:nth-child(10){
    max-height: 230px
  }
  
  .article:nth-child(12) {
    grid-column: 1 / 4;
    background: rgba(255,200,255,0.3)
  }
  
  .article:after {
    color: #808;
    font-weight: bold;
    font-family: courier;
  }

  .article img {
    max-width: 350px;
    max-height: 800px
  }

  #just-in {
    width: 900px;
    /* height: 100px */
  }

  .title{
    margin-left: 30px;
    text-transform: uppercase;
  }

  .title-latest {
    margin-left: -30px;
    text-transform: uppercase;
  }