nav ul {
    list-style: none;
    text-align: center;
  }
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
    font-weight: 400
  }
  nav ul li a:hover {
    color: black;
  }
  nav.shift ul li a {
    position:relative;
    z-index: 1;
  }
  nav.shift ul li a:hover {
    color: black;
    font-weight: 400
  }
  nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 50px;
    content: '.';
    color: transparent;
    background: orange;
    visibility: none;
    opacity: 0;
    z-index: -1;
  }
  nav.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }
 