@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    font-family: 'Poppins', sans-serif;
    width: 90%;
    margin: auto;
    background: whitesmoke;
    padding:30px;
}

.container .title{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    align-items: center;
}

.container .title p:nth-child(1){
    font-size: 24px;
    font-weight:500
}
.container .title p:nth-child(2){
    color: gray;
    width: 250px;
    padding:18px;
    background: rgba(228, 228, 228, 0.5);
    border-radius:20px;
}
.container .cart_wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container .cart_wrapper .cart{
    width: 350px;
    background: #fff;
    border-radius: 6%;
    margin: 20px;
    overflow: hidden;
    transition:1s;
}

.container .cart_wrapper .cart:hover{
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.25);
    transition: 1s;
}
#ava{
    width: 100%;
    height:250px;
    background-image: url('https://ui8-unity-gaming.herokuapp.com/img/card-pic-1.png');
    background-position: center;
    background-size: 120%;
    transition: background 0.5s;
    cursor: pointer;

}
#ava:hover{
    background-size: 100%;
    transition: background 1s;
} 
.cart .cart_content{
    padding:20px
}
.cart .user{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
}
.cart .user img{
    width: 40px;
    height: 40px;
}
#name{
    color: black;
    font-size: 20px;
    font-weight: 500;
    margin-bottom:40px;
}
.user .name{
    margin-left: 10px;
    font-size: 13px;
    font-weight: 500
}
.user .name p:first-child i{
    color: #44bd32;
}
.user .name p:last-child{
    color: #808191;
    font-weight:300;
    font-size:12px
}
hr{
    border-top: 1px solid rgba(228, 228, 228, 0.5);
}
.cart .info{
    margin-top:20px;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.cart .info .live{
    background-color:#FF754C;
    color: white;
    padding: 3px 15px;
    font-size: 13px;
    border-radius:10px
}
.cart .info .watching{
    color: #808191;
    font-size: 15px;
}
/* .cart .info .watching div{
    width: 10px;
    height: 10px;
    background-color: #0984e3;
    border-radius:50%;
} */

.cart .info .watching span::before{
    content: '';
    width: 10px;
    height: 10px;
    background-color: #0984e3;
    border-radius:50%;
    display: inline-block;
    margin-right: 7px;
}
