@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
a {
    text-decoration: none;
    color: white;
}
.p_1 {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)) , url("./img/hero.jpg");
    background-position: center center;
    background-size: cover;
}
.p_1 nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 30px 0px;
}
.p_1 .logo img {
    width: 100px;
    height: 100px;
}
.p_1 nav ul {
    list-style: none;
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}
.p_1 nav ul li {
    font-size: 18px;
    font-weight: 100;
    text-transform: uppercase;
    margin-left: 5px
}
.p_1 .nav_intro {
    position: absolute;
    width: 50%;
    top: 40%;
    left: 15%;
}
.p_1 .nav_intro p{
    color: white;
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: 4px;
    margin-bottom: 25px;
}
.p_1 .nav_intro a{
    border: 2px solid orange;
    padding: 8px 18px;
    border-radius: 20px;
    font-weight: 300;
}
.p_1 .nav_intro .a{
    color: white;
    background-color: orange;
}
.p_1 .nav_intro .b{
    margin-left: 10px;
    transition: 0.5s
}
.p_1 .nav_intro .b:hover{
    background-color: orange;
    color: white;
    transition: 0.5s;
}
.p_2 .top .info {
    width: 798px;
    height: 58px;
    color:#555555;
    font-family: Lato;
    font-size: 20px;
    font-weight:300 ;
    line-height: 29px ;
    margin:0px 0px 30px 360.5px
}
.title {
    color: gray;
    font-size: 35px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 25px;
    text-align: center;
}
.title::after {
    content: "  ";
    width: 130px;
    height: 2px;
    background-color: orange;
    display: block;
    margin: 30px auto ;
    border-radius: 15%;
}  

.list{
    display: flex;
    flex-direction:row;
    margin: auto;
    width:80%;
    flex-wrap: wrap;
    justify-content:space-around
}
.para{
    width: 22%;
    margin: 20px 15px auto 15px;
    font-size:19px;
    font-weight: 300;
}
.para p:nth-child(1){
    font-size:350%;
    color: #e67e22;
    margin-bottom: 15px;
}
.para p:nth-child(2){
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #555;
}
.para p:nth-child(3){
    color: #555;
    margin-bottom: 60px;
}
.p_3 {
    display: block;
    margin-bottom: 140px
} 
.p_3 ul li {
    float: left;
    width: 25%;
    overflow: hidden;
}
.p_3 ul {
    list-style: none;
}
.p_3 ul li img {
    float: left;
    width: 100%;
    opacity: 0.9;
    transform: scale(1.25);
    transition: 1s;
    cursor: pointer;
}
.p_3 ul li img:hover {
    transform: scale(1.05);
    opacity: 1;
    transition: 0.5s
}
p.title{
    margin: 80px 190px auto 190px;
}
.p_4{
    background: whitesmoke;
    padding: 80px
}
.p_4 .body {
  display: flex;
  width: 72%;
  margin: 20px auto;
  justify-content: space-between;
}
.p_4 .body .left {
  width: 48%;
  margin-right: 10%
}
.p_4 .body .left img {
  float: right;
  width: 60%;
}
.p_4 .body .right {
  width: 48%;
}

.p_4 .body .right .item {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  margin: 35px 0px;
  font-size: 24px;
  color: gray;
  font-weight: 300;
}
.p_4 .body .right .item img {
  width: 150px;
  height: 50px;
}
.p_4 .body .right .item p {
  width: 90%;
  margin-left: 25px;
}
.number {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid orange;
    color: orange;
    text-align: center;
    align-items: center;
    line-height: 50px
}
.p_5 {
    margin-top: 70px;
    margin-bottom: 60px;
}
.p_5 .top {
    margin-bottom: 8px;
}
.p_5 .cities {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
    margin-left: 14px;
}
.p_5 .cities .city {
    width: 290px;
    height: 50px;
    padding-right: 30px;
}
.p_5 .cities .city img{ 
    width: 90%
}    
.city-feature {
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    width: 100%
}
.p_5 .cities .city i {
    color:#e67e22;
    font-size: 24px;
    line-height: 28.8px;
    margin: -4px 10px 0px 0px;
    text-align: center;
}
.p_5 .cities .city p {
    font-size: 20px;
    font-weight: 300;
}
.p_5 .cities .city u {
    font-size: 20px;
    font-weight: 300;
    color: #e67e22
}
.p_5 .cities .city h3 {
    font-size: 22px;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 15px;
    padding-top: 12px;
}
.p_6 {
    height: 64vh;
    margin-top: 10px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)) , url("./img/back-customers.jpg");
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}
.p_6 .top .title {
    margin-top: 22%;
    padding-top: 78px;
    color: white;
}
.p_6 .top .title::after {
    content: "  ";
    width: 106px;
    height: 2px;
    background-color: orange;
    display: block;
    margin: 30px auto ;
    border-radius: 15%;
} 
.customers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 25%;
} 
.comment {
    width: 20%;
    height: 10%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
    font-weight: 300
}
.image {
    display: flex;
    flex-direction: row;
    margin-top: 35px
}
.image img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}
.image i {
    font-size: 90%;
    margin-top: 13px;
    display: block;
}
.p_7{
    background-color: whitesmoke;
}
.p_7 .top .title {
    color: black;
    text-transform: uppercase;
    font-size: 400;
    margin: 0px auto auto auto;
    width: 41%;
    letter-spacing: 2px;
    font-weight: 100;
    padding-top: 30px;
}
.p_7 .title::after {
    content: " ";
    width: 15%;
    height: 2px;
    background-color: #e67e22;
    display: block;
    margin: 30px auto;
}

.p_7 .parts {
    background-color: white;
    border:1px solid #E1E1E1;
    width: 28%;
    margin-bottom: 100px;
}
.p_7 .parts #top{
    background-color: #fdffff;
    overflow: hidden;
    width:100%;
    border-bottom:1px solid #E1E1E1;
}
.p_7 .parts #top p:nth-child(1){
    font-weight: 300;
    padding: 10px;
    text-transform: uppercase;
    font-size: 22px;
    color: #555;
}

.p_7 .parts #top  p:nth-child(2){
    font-weight: 100;
    padding-left: 5px;
    text-transform: uppercase;
    font-size: 60px;
    color: #e67e22
}

.p_7 .parts #top  p:nth-child(2)::after{
    content: "/month";
    font-size: 19px;
    text-transform: none;
    font-weight: 300;
}
.p_7 .parts #top  p:nth-child(3){
    font-weight: 300;
    padding: 10px;
    font-size: 19px;
    color: #555
}
.p_7 .parts #mid {
    padding-bottom: 8%
}
.p_7 .parts #mid  p:nth-child(1){
    color: #555;
    padding: 20px 0 5px 15px ;
    font-weight: 300;
    font-size: 20px;
}
.p_7 .parts #mid  p{
    color: #555;
    padding:10px 0 0 15px;
    font-weight: 300;
    font-size: 20px;
}
.p_7.parts #mid  p:nth-child(4){
    color: #555;
    padding: 10px 0 20px 15px ;
    font-weight: 300;
    font-size: 20px;
}
.p_7 .parts #mid  i{
    color: #e67e22;
    padding-right: 8px;
    font-weight: 300;
    font-size: 13px;
}
.p_7 .parts #bot{
    border-top:1px solid #E1E1E1;
    height: 80px;
    color: black
}
.p_7 .parts #bot a{
    border: 2px solid #e67e22;
    padding: 10px 17px;
    border-radius: 20px;
    font-weight: 300;
    background: #e67e22;
    display: block;
    text-align: center;
    margin: 15px 70px
}
.p_8 {
    display: flex;
    flex-direction: row;
    align-items: space-between;
}
.container .welcome {
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    text-align: center;
    font-weight: 300;
}
.container .after_welcome {
    border-color: orange; 
    margin: 5% 30% 7% 30%;
}
footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
    font-size: 16px;
    font-weight: 300;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.fab fa-facebook-f,
.fab fa-twitter,
.fab fa-google-plus-g,
.fab fa-instagram {
    transition: color 0.2s;
}

.fab fa-facebook-f:hover {
    color: #3b5998;
}

.fab fa-twitter:hover {
    color: #55acee;
}

.fab fa-google-plus-g:hover {
    color: #dd4b39;
}

.fab fa-instagram {
    color: #bc2a8d;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}
footer .row:nth-child(2) {
    padding-left: 3%;
    padding-top: 20px ;
    font-size: 16px;
    font-weight: 300
}